<h1 class="text-center mt-5">Pulls loués</h1>
<div class="container">
  <div class="container">
    <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width:100%"/>
          <div class="card-product-infos">
            <h2><%= booking.pull.title %></h2>
            <p>Réservé du <%= booking.start_date %> au <%= booking.end_date %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
