<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center">Pulls loués</h1>
      <ul class="list-item mb-3">
        <% @bookings.each do |booking| %>
          <li class="list-group-item">
            <%= link_to booking.pull.name, pull_path(booking.pull) %>, réservé du <%= booking.start_date %> au <%= booking.end_date %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
