<div class="banner">
  <div class="banner-content">
    <div class="banner-left">
      <span class="badge text-bg-info mb-3">Noël approche !</span>
      <h1 class="mb-4">Trouve le pull le plus moche pour impressionner tes potes</h1>
      <p class="mb-4">Découvre tous les pulls disponibles à la location et réserve celui qui te plaît en quelques clics ou propose ton pull à la location pour gagner un peu d'argent et faire plus de cadeaux à tes parents adorés.</p>
      <%= link_to "CHERCHER UN PULL", pulls_path, class: "btn btn-grey me-3", style: "font-weight: 700; letter-spacing: .1rem;"%>
      <%= link_to "LOUER MON PULL", new_pull_path, class: "btn btn-grey", style: "font-weight: 700; letter-spacing: .1rem;" %>
    </div>
  </div>
</div>
