<div class="container mt-5">
  <h1 class="text-center">Mes annonces de pulls</h1>
  <div class="d-flex justify-content-center">
      <ul class="cards mt-3 mb-3">
        <% @pulls.each do |pull| %>
          <div class="card-product">
            <%= image_tag 'https://m.media-amazon.com/images/I/61vNm50VmFL._AC_UX679_.jpg' %>
            <div class="card-product-infos">
              <h2><%= pull.title %></h2>
              <p><%= pull.description %></p>
            </div>
          </div>
        <% end %>
      </ul>
  </div>
</div>
