<h1>Pulls#index</h1>
<div class="container">
  <div class="row">
    <%= @pulls.each do |pull| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Pull mochepe<%= pull.title %></h2>
          <p>Product description with <strong>relevant info</strong> only.<%= pull.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
