<h1>Pulls#index</h1>
<div class="container">
  <div class="cards">
    <% @pulls.each do |pull| %>
      <div class="card-product">
      <% if pull.photo.attached? %>
        <%= cl_image_tag pull.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <img src="app/assets/images/Antoine.jpeg" style="width:100%"/>
      <% end %>
      <% raise %>
        <div class="card-product-infos">
          <h2><%= pull.title %></h2>
          <p><%= pull.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
