<h1>Pulls#index</h1>
<div class="container">
  <div class="row">
    <% @pulls.each do |pull| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width:100%"/>
        <div class="card-product-infos">
          <h2><%= pull.title %></h2>
          <p><%= pull.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
