.btn-grey {
  color: #497174;
  padding: 8px 24px;
  border-radius: 4px;
  background: #D6E4E5;
  transition: 0.3s ease;
  text-decoration: none;
  box-shadow: 2px 2px 5px #497174;
}

.btn-grey:hover{
  background: #497174;
  color: #bae1d2;
}
