.btn-grey {
  color: #EFF5F5;
  padding: 8px 24px;
  border-radius: 4px;
  background: #104B29;
  transition: 0.5s ease;
  text-decoration: none;
  box-shadow: 2px 2px 2px #dddddd;
  border: 2px solid black;
}

.btn-grey:hover{
  background: #EFF5F5;
  color: #104B29;
  border: 2px solid #104B29;
}
