.footer {
  position: absolute;
  height: 3.5rem;
  width: 100%;
  left: 0;
  bottom: 0;
  color: $font-color;
  text-align: left;
  padding: 15px;
  background-color: $back-color;
  clear:both;
}

.footer p{
  margin: 0px;
}
