.list-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  place-items: center;
  width: 500px;
}

.list-pull {
  overflow: hidden;
  height: 100px;
  background: $back-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.list-pull img {
  height: 100%;
  width: 100%;
  padding: 15px;
  object-fit: cover;
  align-items: top;
}

.list-pull-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $main-font;
  align-items: bottom;
}

.list-pull-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $font-color;
  align-items: bottom;
}

.list-pull .list-pull-infos {
  padding: 16px;
}
