.navbar-lewagon {
  justify-content: space-between;
  background: #B8C7C8;
  max-height: 20vh;
  // box-shadow: 0px 6px 5px 1px rgb(198, 198, 198);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid {
  align-content: center;
  padding-left: 0;
}

.nav-link {
  color: #497174;
}

.nav-link:hover {
  color: #bae1d2
}

.avatar {
  box-shadow: 1px 1px 8px 1px #497174;
}

.logo {
  width: 150px;
}
