// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

body::after {
  content: "";
  background: url(https://media.istockphoto.com/id/1162988429/vector/ugly-sweater-merry-christmas-ornament-scandinavian-style-knitted-background-seamless-frame.jpg?s=170667a&w=0&k=20&c=tAKmHnubpAzvlaDaABdx-F5VbvGDrbBLE6BsFkrrnGU=);
  opacity: 0.6;
  top: -52px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
